* {
  margin: 0;
  padding: 0;
}


/*smooth scrolling */
html {
  scroll-behavior: smooth;
}
 
/*a faded bg-image for the whole webapp */
body::before {
  content:"";
  background-image: url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.header {
  position:relative;
  
  color: rgb(35, 144, 144);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-title{
  display: flex;
  justify-content: space-between;
  margin:1rem;
}
.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: large;
  
  
}

.navbar-list a {
  text-decoration: none;
  color: rgb(35, 144, 144);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.img {
  height: 400px;
  width: 600px;
  border-radius: 20px;
}
.discount-card{
  position:fixed;
  right:2rem;
  bottom:2rem;
  border:2px solid black;
  border-radius: 20px;
  padding:0.5rem;
}