* {
  margin: 0;
  padding: 0;
}

body::before {
  content:"";
  background-image: url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.header {
  position:relative;
  background-color: rgb(236, 242, 242);
}
.navbar {
  display: flex;
  justify-content: space-around;
}


.img {
  height: 400px;
  width: 600px;
  border-radius: 20px;
}
.discount-card{
  position:fixed;
  right:2rem;
  bottom:2rem;
  border:2px solid black;
  border-radius: 20px;
  padding:0.5rem;
}