* {
  margin: 0;
  padding: 0;
}


/*smooth scrolling */
html {
  scroll-behavior: smooth;
}
 
/*a faded bg-image for the whole webapp */
body::before {
  content:"";
  background-image: url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}

.header {
  position:relative;
  
  color: rgb(35, 144, 144);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-title{
  display: flex;
  justify-content: space-between;
  margin:1rem;
} 
/*common button styles */
.button{
 color: white;
 background-color: rgb(35, 144, 144);
 border: none;
 padding: .25rem;
 border-radius: .25rem;
 font-size: large;
}

.button:hover{
  background-color:rgb(20, 50, 87); 
  transform: translateY(-2px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: large;
  margin:1rem;
  padding:1rem;
  
  
}
.rides{
  padding: 1rem;
  margin: 1rem;
}

.navbar-list a {
  text-decoration: none;
  color: rgb(35, 144, 144);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.image-text-container{
  position:relative;
}
.voting-text-button{
  position:absolute;
  top:75%;
  left:20%;
  color:white;
  font-size: larger;
  font-weight: bold;
  background-color:rgb(35, 144, 144);
  border-radius: .25rem;
  padding: 1rem;

}

.ride-description{
  display:flex;
  flex-direction: column;
  gap:1rem;
  margin:1rem
}

.rides-image-and-decs{
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.img {
  height: 400px;
  width: 600px;
  border-radius: 20px;
}


.opening{
  display:flex;
  flex-direction: column;
  justify-content:center;
  margin:3rem;
  padding: 3rem;
  border:2px solid black;
  gap:1rem;
}
.timing-card{
  display:flex;
  justify-content:center;
}
.time-row{
  display: flex;
  justify-content: space-around;
  gap:1rem
}
.discount-card{
  display:flex;
  flex-direction: column;
  gap:.5rem;
  padding:1rem;
  position:fixed;
  right:2rem;
  bottom:2rem;
  border:2px solid black;
  border-radius: 20px;
  padding:0.5rem;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}
.social-media{
  display: flex;
  justify-content: center;
  gap: 2rem;
}


.sm-logo-insta{
  font-size:50px;
  color:rgb(232, 125, 125);
}
.sm-logo-fb{
  font-size:50px;
  color:rgb(35, 40, 186);
}
.sm-logo-x{
  font-size:50px;
  color:rgb(26, 23, 35);
}